[Desktop Entry]
Version=1.0
Type=Application
Name=TorGhost Stop
Comment=Stop TorGhost service
Exec="sudo /opt/365/torghost-stop.sh"
Icon=security-low
Terminal=true
StartupNotify=true
Path=
